.signup-btn{
    border: none;
    background-color: #09b153;
    color: white;
    width: 100%;
    font-size: 1.2rem;
}
.signup-title{
    border-bottom: 3px solid #09b153;
    color: #17ac9d;
}
.main{
    /* background-color:  #241c1a ; */
    background-image: url("../../../public/images/bgimage.jpg");
}
.signup-link{
    color: #17ac9d;
}
.event-plan-img{
  
        height: 100%;
        width: 100%; /* Maintain aspect ratio */
      
}